* {
	margin:0;
	padding:0; 
	box-sizing: border-box;
}



.container{
	width: 960px;
	font-family: Roboto;
	margin: auto;
	overflow: auto;
}


header {
	width: 100%;
	height: 80px;
	background-color: #139B5B;
	position: fixed;
}

.header-space {
	width: 100%;
	height: 80px;
	background-color: #139B5B;
}
.header-logo {
	float:left;
	padding: 10px 20px 10px 30px
}

.header-menu {
	float: right;
	color: white;
	margin-right: 40px;
}

.header-menu ul li {
	display: inline-block;
	font-family: Roboto;
	font-size: 20px;
	padding: 30px 10px;
	cursor: pointer;
}

.header-menu a{
	text-decoration: none;
	color: white;
}

.header-menu li:hover{
	opacity: 0.7;
}

.hero {
	height: 350px;
	background-color: #F6F6F6;
}

.hero .hero-descrip {
	width: 50%;
	height: 250px;
	float: left;
	padding: 20px 20px 20px 20px;
	font-family: Roboto;
	text-align: center;
	color: #5C5D55;
}

.hero .hero-descrip h3 {
	font-size: 40px;
	color: black;
}

.hero .hero-descrip p {
	padding: 10px 10px 10px 50px;
	font-family: Roboto;
	font-weight: normal;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

.hero .hero-image {
	width: 50%;
	float: right;
	padding: 20px;
}

.content {
	margin-top : 20px;
	margin-bottom: 30px;
	overflow: auto;
	padding: 5px 2px ;
	width: 640px;
	height: auto;
	float: left;
}

.content h2 {
	padding: 12px 18px;
}
.card {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: 0.3s;
 }


content .card {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: 0.3s;
 }

aside {
	width: 300px;
	height: auto;
	float: right;
	color: #5C5D55;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 5px 5px;
	margin-top : 23px;
	margin-right: 2px;

}

aside .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

aside img {
	border-radius: 5px 5px 0px 0px;
}

aside h2 {
	text-align: center;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;
	text-align: justify;
	font-size: 14px;
	text-indent: 2em;
}

aside .aside-body{
	padding: 10px 20px;
	text-align: center;
}

button {
	border: none;
	outline:0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #139B5B;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	width: 100%;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
	opacity: 0.7;
}

.flex-container {
	display: flex;
	margin-left: 10px;
	width: 620px;
	height: 200px;
	border-radius: 5px;
	padding: 10px 3px;
}

.box {
	flex-grow: 1;	
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	margin: 5px;
	border-radius: 5px;
}

.first {
	flex-grow: 1;
}

.second {
	flex-grow: 2;
	padding: 10px 10px 10px 10px;
	overflow: auto;
}

.box img {
	border-radius: 5px 5px 5px 5px;
	height: 170px;
}

footer {
	height: 100px;
	background-color: #F6F6F6;
	padding: 38px;
	color: #5C5D55;
}


